.form {
  width: 32rem;
  background-color: rgb(39, 39, 39);;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 50px;  
}

.form__input {
  padding: .4rem;
  border: none;
  margin: 0 5px;
  border-radius: .2rem;
  width: 13rem;
  background-color: rgb(236, 236, 236);
}

.form__btn {
  padding: .4rem .8rem;
  border: none;
  margin-left: 5px;
  background-color: lightblue;
  color: black;
  border-radius: .2rem;
  transition: .2s all ease-out;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.212);;
}

.form__btn:hover {
  background-color: rgb(147, 191, 206);
}
