.table-container {
  overflow-y: scroll;
  height:32rem;
  margin: 0;
  padding: 0;
  background-color: rgb(177, 177, 177);
  max-width: 32rem;
}

.table-container::-webkit-scrollbar {
  display: none;
}

.table__title {
  position: fixed;
  width:32rem;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  background-color: rgb(39, 39, 39);
  color: white;
}

.table {
  max-width:32rem;
  margin-top: 50px;
}

.table__header {
  background-color: rgb(230, 230, 230);
  padding: .4rem;
  width: 16rem;
}

.table__header--delete {
  background-color: rgb(255, 148, 148);
}

.table__header--delete {
  width: 5rem;
}

.table__cell {
  background-color: rgb(34, 34, 34);
  padding: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 50px;
  color: white;
}

.table__cell--delete {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  cursor: pointer;
  color: white;
  background-color: rgb(34, 34, 34);
}

.table__cell--delete__img {
  width: 25px;
  height: 25px;
}

.table__cell--delete__img:hover {
  transform: scale(1.2)
}

.table__cell::first-letter {
  text-transform: capitalize;
}

.table__cell::-webkit-scrollbar {
  display: none;
}