* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.container {
  box-shadow: 2px 2px 5px rgba(73, 73, 73, 0.226);;
}

@media screen and (max-width: 580px) {
  html {
    font-size: 12px;
  }
}